@font-face
	font-family 'DINPro'
	src url('~@/assets/fonts/DINPro-Bold.woff2') format('woff2'), url('~@/assets/fonts/DINPro-Bold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'PTSans Narrow'
	src url('~@/assets/fonts/PTSans-Narrow.woff2') format('woff2'), url('~@/assets/fonts/PTSans-Narrow.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'PTSans Narrow'
	src url('~@/assets/fonts/PTSans-NarrowBold.woff2') format('woff2'), url('~@/assets/fonts/PTSans-NarrowBold.woff') format('woff')
	font-weight 700
	font-style normal