@import './fonts.styl'
@import './mixins.styl'
@import './vars.styl'
@import './reset.styl'
@import './common.styl'

/* components import here */

@import './components/layout/header.styl'
@import './components/layout/footer.styl'
@import './components/social/social.styl'
@import './components/bg/bg.styl'
@import './components/intro/intro.styl'
@import './components/rules/rules.styl'
@import './components/gallery/gallery.styl'
@import './components/video/video.styl'
@import './components/product/product.styl'
@import './components/news/news.styl'


@import './animation.styl'
@import './components/intro/animation.styl'
@import './components/rules/animation.styl'
@import './components/gallery/animation.styl'
@import './components/video/animation.styl'
@import './components/product/animation.styl'
@import './components/news/animation.styl'
@import './components/bg/animation.styl'